
header {
    display: flex;
    justify-content: space-between;
    border-bottom : 1px solid lightgray;
    padding : 5px;
    margin : 5px;
    margin-bottom : 20px;
}
header>.main_logo{
    font-size : 20px;
}

header>.search>input{
    width : 140%;
    text-align: center;
}
header>.hd_icons{
    width: 25%;
    display : flex;
    justify-content: space-between;
}
.story {
    width : 600px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin-bottom : 20px;
    border : 1px solid lightgray;
}
.story>.stories>img{
    width:56px ;
    height: 56px;
    border-radius: 50%;
    border : 2px solid palevioletred;
}
.feed {
    width : 600px;
    border : 1px solid lightgray;
    padding : 10px;
}

.feed>.profile{
    display: flex;
}
.feed>.profile>.fd_logo>img{
    width : 32px;
    height : 32px;
    border-radius: 50%;
    border : 2px solid palevioletred;
}
.feed>.fd_img>img{
    width : 600px;
    height : 600px;
}
.feed>.fd_icons{
    display:flex;
}
.feed>.profile>.fd_name{
    padding-top : 3px;
    padding-left: 13px;
}
.feed>.comment{
    display:flex;
}