header {
    display: flex;
    margin-bottom: 0px;
}
.story>img{
    width:56px ;
    height: 56px;
    border-radius: 50%;
}

.feed>.profile{
    display: flex;
}
.feed>.profile>.fd_logo>img{
    width : 32px;
    height : 32px;
    border-radius: 50%;
    border : 2px solid palevioletred;
}
.feed>.fd_img>img{
    width : 600px;
    height : 600px;
}
.feed>.fd_icons{
    display:flex;
}
.feed>.comment{
    display:flex;
}