header {
  background-color: black;
  color:white;
  font-size: 30px;
}
header>.logo>i{
  color: red;

}
header>.icons{
  float : right;
}
.video_player>video {
  width :100%;
}
section.next>video {
  width :30%;
  display: inline;
  margin-top: 20px;
}

img{
  border-radius: 50%;
  width:50px;
}
section.chanel>.chanel_logo>img{
  float:left;
}
section.comment>.comment_logo>img{
  float:left;
}
.hastage {
  color: blue;
}
section.info>.icons{
  font-size: 50px;
}
section.info>.icons>.up{
  margin :33px;
}
section.info>.icons>.down{
  margin : 33px;
}
section.info>.icons>.share{
  margin : 33px;
}
section.info>.icons>.off_save{
  margin : 33px;
}
section.info>.icons>.save{
  margin : 33px;
}
section.info{
  border-bottom: 1px solid lightgray;
}
section.chanel{
  border-bottom: 1px solid lightgray;
}
section.comment{
  border-bottom: 1px solid lightgray;
  padding-bottom: 40px;
}
section.next>.next_title{
  margin-top: 0px;
}
